/* A simple css stylesheet for the current open page */

/* Use a dark and simple color palette */
body {
    background-color: #333333;
    color: #ffffff;
  }
  
  /* /* Make the navbar horizontal and align it to the center */
  .navbar {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #000000;
  }
  
  /* Add some style to the navbar links */
   .navbar li {
    margin: 10px;
     display: inline; 
   } 
  
  .navbar a {
    text-decoration: none;
    color: #ffffff; 
    /* display:inline; */
  } 
  
  /* Add some hover effect to the navbar links */
  .navbar a:hover {
    color: #00ff0d;
  } 
  
