/* A simple css stylesheet for the current open page */

/* Use a dark and simple color palette */
body {
    background-image: url('../images/programming.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
  }
  
  /* /* Make the navbar horizontal and align it to the center */
  .navbar {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #000000;
  }
  
  /* Add some style to the navbar links */
   .navbar li {
    margin: 10px;
     display: inline; 
   } 
  
  .navbar a {
    text-decoration: none;
    color: #ffffff; 
    /* display:inline; */
  } 
  
  /* Add some hover effect to the navbar links */
  .navbar a:hover {
    color: #00ff0d;
  } 

  body footer p {
    color: #000000;
    position:absolute;
    align-items: center;
    bottom:0;
    right:50%;
  }

  body h1 {
    color:#000000;
  }
  body p {
    color:#000000;
  }
  
